footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.fa {
  transition: .5s;
}

.fa:hover {
  background-image: none;
  transform:scale(2.5);
}