footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  /* background-image: none; */
}

.fa {
  transition: .5s;
}

.fa:hover {
  background-image: none;
  transform:scale(3.5);
}