.nav-tabs {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  border-bottom: none !important;
  margin-top: 10%;
}

.nav-link.active {
  background-color: #0d6efd !important;
  border: none !important;
}