.portfolio {
  display: flex;
  height: 100%;
  padding-left: 30%;
  padding-right: 10%;
  padding-bottom: 5%;
}

.card {
  margin-top: 1em;
  width: 20rem;
  background-color: transparent;
  color: #76bee2;
  border: solid;
  border-color: white;
  opacity: .9;
}

.list-group-item {
  background-color: transparent !important;
  color: #76bee2;
  font-size: 13px;
  text-align: left;
}
.half-page {
  padding: 20px;
  text-align: center;
  flex: 1;
}

/* p {
  margin-top: 1em;
  font-size: 12px;
} */