.resume {
  padding-left: 30%;
  padding-right: 10%;
  padding-bottom: 5%;
}

.resume-card {
  /* border: solid; */
  border-color: white;
  color: #76bee2;
  margin-bottom: 50px;
}

.resume-section {
  color: white;
  border-bottom: solid;
  border-width: 1px;
}

.company-name {
  color: #7193a7;
  font-size: 22px;
}

.job-years {
  font-size: 16px;
}

.job-title {
  font-size: 16px;
}

.job-list {
  font-size: 12px;
}

.job-responsibilities {
  
  opacity: .8;
}

#summer-job {
  border-bottom: none;
}

#last-job-list {
  margin-bottom: 10px;
}

.skills-container {
  display: flex;
  justify-content: space-between;
}

.skill-list {
  list-style-type: circle;
  text-align: start;
  opacity: .8;
}

.skills {
  flex: 1;
}

.skill-type {
  text-align: start;
}

.strengths {
  display: flex;
  justify-content: space-between;
}

#personal-skills {
  text-align: center;
  margin-top: 10px;
}

